.content-box ul li {
  list-style: none;
  padding: 4px 8px;
  background: #35a65b;
  display: inline-block;
  border-radius: 2px;
  color: white;
  margin: 3px;
  text-transform: capitalize;
}

ul {
  padding: 0;
  margin: 0;
}

.content-box {
  font-size: 0.7em;
  min-height: 50px;
}

.content-box .editable {
  border: solid 1px royalblue;
  min-height: 50px;  
}

.content-box .non-editable {
  border: solid 1px transparent;
}

.content-box ul li.add-keyword {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
}

.content-box ul li.add-keyword img {
  width: 100%;
  height: 100%;
  margin-top: -2px;
}

.content-box ul li span {
  cursor: pointer;
}

.hidden {
  display: none;
}

.add-keyword-input {
  width: 100%;
  display: block;
  padding: 2px 5px;
  border: 0;
  color: #777;
  font-weight: bold;
  outline: none;
}

.add-keyword-input:focus {
  border-bottom: solid 1px lightgray; 
  outline: none;  
}
