<app-adminheader adminActive="{{true}}" ></app-adminheader>
<div class="container">
  <div class="row">
    <div class="nav-section">Products List / <span>{{'Wearable Playmat Shirt'}}</span></div>
    <div class="clicks-track-section" >
      <div class="item clicks" >
        <div class="img">
          <img src="assets/clicks-logo.png" />
        </div>
        <div class="numbers" >
          <div>{{712}}</div>
          <div>Clicks Throughs</div>
        </div>
      </div>
      <div class="item twitter-clicks" >
        <div class="img">
          <img src="assets/twitter.png" />
        </div>
        <div class="numbers" >
          <div>{{712}}</div>
          <div>Clicks Throughs</div>
        </div>
      </div>
      <div class="item facebook-clicks" >
        <div class="img">
            <img src="assets/facebook.png" />
        </div>
        <div class="numbers" >
          <div>{{712}}</div>
          <div>Clicks Throughs</div>
        </div>
      </div>
      <div class="item pinterest-clicks" >
        <div class="img">
            <img src="assets/pinterest.png" />
        </div>
        <div class="numbers" >
          <div>{{712}}</div>
          <div>Clicks Throughs</div>
        </div>
      </div>
    </div>
    <div class="new-product-form">
      <div class="main">
        <div class="image-upload">
          <div class="block"
              (ngxf-drop)="uploadFile($event)"
              drop-class="drop"
              accept="image/*,.svg"
              [ngxf-validate]="{ size: { min: 5000, max:1000000 } }">
            <label class="upload-button">
              <input type="file"
                name="upfile"
                    (ngxf-select)="uploadFile($event)"
                    [ngxf-validate]="{ size: { min: 5000, max:1000000 } }"
                    accept="image/*,.svg,.ttt" >
              choice file.
            </label>
          </div>
        </div>
        <div class="product-details">
          <div class="body">
            <table>
              <tr class="head" >
                <td class="id">ID #10105</td>
                <td class="date">Added {{'Dec 14th in 2018'}}</td>
                <td>
                  Visibility <div class="switch" ></div>
                </td>
              </tr>
              <tr>
                <td>Name</td>
                <td><div><Input name="name" /></div></td>
              </tr>
              <tr>
                <td>Price</td>
                <td><div><Input name="name" type="number" placeholder="00.00" step="0.01" min="0" /></div></td>
              </tr>
              <tr>
                <td>URL</td>
                <td><div><Input name="name" /></div></td>
              </tr>
              <tr>
                <td>Ages</td>
                <td><div><Input name="name" /></div></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td><div><div class="gender-switch"></div></div></td>
              </tr>
              <tr>
                <td>Tags</td>
                <td><div><Input name="name" /></div></td>
              </tr>
              <tr>
                <td>Relationships</td>
                <td><div><Input name="name" /></div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="btns">
        <button>Cancel</button>
        <button>Submit</button>
      </div>
    </div>
  </div>
</div>
